#menuUsuario{
    background-color: red;
    width: 400px;
    height: 126px;
    border: 1px solid black;
    float: right;
    position: relative;
}

#imagenUsuario{
    background-image: url("../img/noPic.jpg");
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    left: 10px;
    top: 13px;
}

#infoUsuarioLogHeader {
    background-color: pink;
    width: 270px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    right: 10px;
    top: 13px;
}

#textoInfoUsuarioHeader{
    position: absolute;
    left: 10px;
    top: 13px;
}

p,#textoInfoUsuarioHeader{
    font-size: 20px;
}

#contenidoNoticias {
    width: 1000px;
    height: auto;
}