#zonaUsuario {
    height: 50px;
    width: 400px;
    background-color: red;
    position: relative;
}

#logo {
    height: 60px;
    width: auto;
}

#textoImagenPrincipal{
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 5%;
    top: 10%;
}

#imagenBannerPrincipal{
    background: url("../img/banner_principal.jpg");
    background-size: cover;
}

#listaUsuarios{
    width: auto;
    height: 500px; /* Cambiar a auto mas alante */
}

/* Zona cuando ya estas logueado */
#imagenUsuario {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    top: 5px;
    left: 5px;
    float: left;
}

#cuadroInfo {
    position: absolute;
    width: 345px;
    height: 40px;
    border: 1px solid black;
    top: 5px;
    right: 5px;
}

#textoUsuario {
    position: absolute;
    width: 345px;
    height: 40px;
    left: 20%;
    top: 5px;
}