/* #panelUsuarioGeneral {
    position: relative;
    background-color: red;
} */

/* #rangoImagen{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 50%;
    right: 72%;
    height: 100px;
    width: auto;
}

#info{
    position: absolute;
    overflow: hidden;
    background: green;
    right: 10px;
    top: 10px;
    bottom: 10px;
    left: 30%;
} */

#panelUsuarioGeneral {
    display: grid;
    grid-template-columns: 24% 1px 75%;
    grid-template-rows: 100%;
    grid-template-areas: "r l i";
}

/* #CUTRE */
#linea {
    grid-area: l;
    background-color: black;
}

#rango {
    grid-area: r;
}

#rangoImagen {
    width: 100%;
    height: auto;
}


#info {
    grid-area: i;
    padding: 10px;
}

.btn {
    margin-bottom: 5px; 
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}