#panelUsuarioGeneral {
    display: grid;
    grid-template-columns: 24% 1px 75%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "r l i" "b l i";
}

#botones {
    grid-area: b;
    width: 100%;
    height: 100%;
}

#linea {
    grid-area: l;
    background-color: black;
}

#rango {
    grid-area: r;
}

#rangoImagen {
    width: 100%;
    height: auto;
}


#info {
    grid-area: i;
    padding: 10px;
}

.btn {
    margin-bottom: 5px; 
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}