#botones {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

#rangoImagen {
    width: 100%;
    height: auto;
}

.btn {
    margin-bottom: 5px; 
}

#outer {
    width:100%;
    text-align: center;
}

.inner {
    display: inline-block;
}

#imagenUsuario {
    height:200px;
    width:auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#eloImagenPerfil{
    position: absolute;
    bottom: -30px;
    right: -15px;
    height: 100px;
}
